<a href="https://colab.research.google.com/github/lixinso/sample-python/blob/master/dataframe.str.contains.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# Slightly modified example.
df4 = pd.DataFrame({'col': ['foo abc', 'foobar xyz', 'bar32', 'baz 45']})
df4

          col
0     foo abc
1  foobar xyz
2       bar32
3      baz 45

In [5]:
df4['col'].str.contains(r'foo|baz')

0     True
1     True
2    False
3     True
Name: col, dtype: bool

In [4]:
df4[df4['col'].str.contains(r'foo|baz')]

          col
0     foo abc
1  foobar xyz
3      baz 45