<a href="https://colab.research.google.com/github/lixinso/sample-python/blob/master/example_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
dfObj = pd.DataFrame([["usid1", "name1"]], columns=['usid', 'name'])

In [9]:
dfObj

    usid   name
0  usid1  name1

In [10]:
dfObj.size

2

In [11]:
len(dfObj)

1